header#main-navbar {
    background: #fff;
    height: 75px;
    border-bottom: 1px solid #ddd;
}

header#main-navbar .navbar-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 75px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width:140px;
    height:auto;
}

a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}