header#main-navbar {
  background: #fff;
  height: 75px;
  border-bottom: 2px solid #ddd;
}

header#main-navbar .navbar-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 75px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-navbar .navbar-right {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 75px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: right;
}

header#main-navbar .navbar-logo {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 75px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-image>img {
  width: 110px;
  height: auto;
}

.navbar__link {
  text-decoration: none;
  color: rgb(68, 68, 68);
}