.bg-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 8px;
}

div#modal-images {
  display: flex;
  justify-content: space-between;
}

.modal-images input {
  margin-top: 68px;
  max-width: 90px;
  height: auto;
}